@import-normalize; /* bring in normalize.css styles */

body {
  background-color: #d7e1ec;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2a404e;
  position: relative;
  border: 1px solid #000;
  width: 400px;
  min-height: 800px;

  display: flex;
  flex-direction: column;
  border-radius: 50px;
}

.content {
  position: relative;
  position: absolute;
  width: 94%;
  height: 97%;
  background: url('./images/Rectangle\ 1395.png');

  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
h1 {
  font-weight: normal;
  font-size: 40px;
  margin: 20px 0 20px 0;
}

h4 {
  margin: 0 0 5px 0;
}
h2 {
  font-weight: normal;
  font-size: 30px;
  margin-bottom: 20px;
}
.contacts {
  position: absolute;
  width: 90%;
  max-height: 40%;

  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
}

.bottomUnderline {
  position: absolute;
  background-color: #ffffff;
  width: 150px;
  border-radius: 4px;
  height: 5px;
  top: 97%;
  left: 50%;
  transform: translate(-50%);
}
.dynamik {
  position: absolute;
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 5px;
  left: 60%;
}
.sensor {
  position: absolute;
  background-color: #ffffff;
  width: 50px;
  height: 10px;
  border-radius: 4px;
  top: 5px;
  left: 50%;
  transform: translate(-50%);
}

.btn1 {
  position: absolute;

  width: 3px;
  height: 35px;
  left: 1057.1px;
  top: 276.46px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.73);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1.53834px 0px 0px 1.53834px;
  top: 100px;
  left: -16px;
  border: none;
}
.btn2 {
  position: absolute;

  width: 3px;
  height: 65px;

  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.73);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1.53834px 0px 0px 1.53834px;
  top: 160px;
  left: -16px;
  border: none;
}
.btn3 {
  position: absolute;

  width: 3px;
  height: 65px;

  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.73);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1.53834px 0px 0px 1.53834px;
  top: 250px;
  left: -16px;
  border: none;
}
.btn4 {
  position: absolute;

  width: 3px;
  height: 105px;

  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.73);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1.53834px 0px 0px 1.53834px;
  right: -16px;
  top: 180px;
  border: none;
}

.icon {
  display: flex;
  position: absolute;
  color: rgb(129, 129, 129);
  width: 30px;
  height: 10px;
  top: 15px;
  right: 50px;
}

.icon1 {
  margin-right: 5px;
}

.clock {
  color: rgb(129, 129, 129);
  position: absolute;
  width: 30px;
  height: 20px;
  font-size: 14px;
  top: 30px;
  left: 40px;
}

.emblem {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 90%;
  background-color: rgb(0, 254, 208);
  background: url('./images/img2.akspic.ru-atmosfera-geometriya-matematika-purpur-fioletovyj-1080x1920.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  opacity: 0;
}
